.index_campus {
    background-color: orange;
    font-family: "Roboto", sans-serif;
    font-size: 16px;

    .container {
        max-width: 1200px;
        margin: 0 auto;
    }

    .header {
        background-color:maroon;
        color: #ffffff;
        padding: 10px;
    }

    .header .logo {
        float: left;
    }

    .header .nav {
        float: right;
    }

    .main {
        display: flex;
    }

    .sidebar {
        width: 25%;
        padding: 10px;
    }

    .sidebar .list {
        list-style: none;
        padding: 0;
    }

    .sidebar .list-item {
        margin-bottom: 10px;
    }

    .content {
        width: 75%;
        padding: 10px;
    }

    .footer {
        background-color: #444444;
        color: #ffffff;
        padding: 10px;
        text-align: center;
    }

    .button {
        border: 1px solid #cd8213;
        background-color: rgba(93, 79, 2, 0.23);
        color: #ffffff;
        padding: 5px 10px;
        border-radius: 4px;
        text-decoration: none;
    }

    .button:hover {
        background-color: #90b40d;
    }

    .button-secondary {
        border: 1px solid #e9ecef;
        background-color: #039b36;
        color: #444444;
        padding: 5px 10px;
        border-radius: 4px;
        text-decoration: none;
    }

    .button-secondary:hover {
        background-color: #05488c;
    }

    .form-field {
        border: 1px solid #f32a02;
        padding: 5px;
        border-radius: 4px;
    }

    .form-submit {
        border: 1px solid #072393;
        background-color: #007bff;
        color: #ffffff;
        padding: 5px 10px;
        border-radius: 4px;
        text-decoration: none;
    }

    .form-submit:hover {
        background-color: #0069d9;
    }
}

.new_Sortie {
    font-family: "Calibri", serif;
    .formulaire {
        columns: 2;
        display: block;
    }
    label {
        font-size: larger;
        margin-left: 20px;
        width: 100%;
    }
    input, textarea, select {
        display: block;
        font-size: 1.2rem;
        padding: 0.25em;
        width: 40%;
        margin-bottom: 1em;
        margin-left: 20px;
        border-radius: 3px;
        border: 1px solid #BABABA;
    }
    .btn {
        background-color: #BABABA;
        color: #551A8B;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        font-size: larger;
        margin: 0 10px;
    }
    .boutons {
        padding-top: 5%;
        display: flex;
        justify-content: center;
    }
    h1, h2 {
        color: #551A8B;
        width: 100%;
        text-align: center;
    }
    h3 {
        margin-left: 20px;
    }
}
h1 {
    font-size: 10rem;
}