.new_Sortie {
    font-family: "Calibri", serif;

    .formulaire {
        column-count: 2;
        text-align: justify;
    }

    label {
        font-size: larger;
        margin-left: 20px;
        width: 100%;
    }

    input, textarea, select {
        display: flex;
        font-size: 1.2em;
        padding: 0.25em;
        width: 40%;
        margin-bottom: 1em;
        margin-left: 20px;
        border-radius: 3px;
        border: 1px solid #BABABA;
    }

    .btn {
        background-color: #BABABA;
        color: #551A8B;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: larger;
    }

    .boutons {
        padding-top: 5%;
        display: flex;
        justify-content: space-evenly;
    }

    h1, h2 {
        color: #551A8B;
        width: 100%;
        text-align: center;
    }

    h3 {
        margin-left: 20px;
    }


}