a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 10vh;
  background-color: darkgrey;
}

footer {
  width: 100%;
  height: 10vh;
  background-color: darkgrey;
}

.container {
  width: 100%;
  min-height: 80vh;
  display: block;
}

button, a, input[type=checkbox] {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.index_Participant {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.index_Participant table {
  table-layout: fixed;
}
.index_Participant table thead {
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: #FDFDFD;
}
.index_Participant table thead tr {
  display: block;
  position: relative;
}
.index_Participant table thead tr th {
  width: 100px;
  text-decoration: underline;
  padding: 5px;
  text-align: center;
}
.index_Participant table tbody {
  display: block;
  overflow: auto;
  width: 100%;
}
.index_Participant table tbody tr:nth-child(even) {
  background-color: #DDD;
}
.index_Participant table tbody tr td {
  border: 1px black solid;
  width: 100px;
  padding: 5px;
  text-align: center;
}

.show_Participant {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.show_Participant table {
  table-layout: fixed;
}
.show_Participant table thead {
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: #FDFDFD;
}
.show_Participant table thead tr {
  display: block;
  position: relative;
}
.show_Participant table thead tr th {
  width: 100px;
  text-decoration: underline;
  padding: 5px;
  text-align: center;
}
.show_Participant table tbody {
  display: block;
  overflow: auto;
  width: 100%;
  border: 1px black solid;
}
.show_Participant table tbody tr:nth-child(even) {
  background-color: #DDD;
}
.show_Participant table tbody tr td {
  width: 100px;
  padding: 5px;
  text-align: center;
}

.index_Ville {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.index_Ville table {
  table-layout: fixed;
}
.index_Ville table thead {
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: #FDFDFD;
}
.index_Ville table thead tr {
  display: block;
  position: relative;
}
.index_Ville table thead tr th {
  width: 100px;
  text-decoration: underline;
  padding: 5px;
  text-align: center;
  border: 1px black solid;
}
.index_Ville table tbody {
  display: block;
  overflow: auto;
  width: 100%;
}
.index_Ville table tbody tr:nth-child(even) {
  background-color: #DDD;
}
.index_Ville table tbody tr td {
  border: 1px black solid;
  width: 100px;
  padding: 5px;
  text-align: center;
}

.image-container {
  text-align: center;
}
.image-container h1 {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin: 10px 0;
  text-align: center;
}
.image-container p {
  font-family: Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  margin: 0 10px 10px 10px;
}
.image-container img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border: 5px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.image-container figcaption {
  font-style: italic;
  font-size: 0.8em;
  margin-top: 5px;
}

.login_Security {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
}
.login_Security .login {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border: rgba(0, 0, 0, 0.5) solid 1px;
  border-radius: 20px;
}
.login_Security .login form .input {
  display: flex;
  flex-direction: column;
}
.login_Security .login form .input div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}
.login_Security .login form .input div label {
  margin-right: 30px;
  font-size: 1.2rem;
}
.login_Security .login form .input div input {
  font-size: 1.2rem;
  border: 1px rgba(255, 255, 255, 0) solid;
  border-bottom: 1px black solid;
  transition: border 500ms 100ms;
}
.login_Security .login form .input div input:focus-visible {
  outline: 0;
  border: 1px black solid;
}
.login_Security .login form .input div input:hover {
  border: 1px black solid;
}
.login_Security .login form .input div:last-child {
  justify-content: center;
}
.login_Security .login form .input div:last-child input {
  width: 15px;
  height: 15px;
}
.login_Security .login form .input div:last-child label {
  margin-left: 5px;
}
.login_Security .login form .connect {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 15px;
}
.login_Security .login form .connect button {
  width: 50%;
  padding: 10px;
  font-size: 1.5rem;
  transition: transform 500ms 100ms;
  transform: scale(1);
}
.login_Security .login form .connect button:hover {
  transition: transform 500ms 100ms;
  transform: scale(1.2);
}
.login_Security .login form .connect div {
  margin-top: 10px;
}
.login_Security .login form .connect div a {
  margin: 0 10px;
}

.index_Sortie {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.index_Sortie .search {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 0px;
}
.index_Sortie .search .div1 {
  grid-area: 1/1/2/2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 10px;
}
.index_Sortie .search .div1 div:nth-child(1) {
  grid-area: 1/1/2/2;
  display: flex;
  justify-content: space-between;
}
.index_Sortie .search .div1 div:nth-child(2) {
  grid-area: 2/1/3/2;
  display: flex;
  justify-content: space-between;
}
.index_Sortie .search .div1 div:nth-child(3) {
  grid-area: 3/1/4/2;
  display: flex;
  justify-content: space-between;
}
.index_Sortie .search .div1 div select, .index_Sortie .search .div1 div input {
  width: 200px;
}
.index_Sortie .search .div1 label {
  text-align: right;
}
.index_Sortie .search .div2 {
  grid-area: 1/2/2/3;
}
.index_Sortie .search .submit_div {
  grid-area: 2/1/3/3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.index_Sortie .search .submit_div .submit {
  padding: 10px 20px;
  text-align: center;
}
.index_Sortie .search br {
  content: "";
  display: block;
  margin: 10px 0;
}
.index_Sortie .table {
  table-layout: fixed;
  border-collapse: collapse;
}
.index_Sortie .table thead {
  background-color: #333;
  color: #FDFDFD;
}
.index_Sortie .table thead tr {
  display: block;
  position: relative;
}
.index_Sortie .table thead tr th {
  width: 100px;
  text-decoration: underline;
  padding: 5px;
  text-align: center;
}
.index_Sortie .table tbody {
  display: block;
  overflow: auto;
  width: 100%;
  max-height: 500px;
}
.index_Sortie .table tbody tr:nth-child(even) {
  background-color: #DDD;
}
.index_Sortie .table tbody tr td {
  border: 1px black solid;
  width: 100px;
  padding: 5px;
  text-align: center;
}

.index_Campus body {
  background-color: orange;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.index_Campus .container {
  max-width: 1200px;
  margin: 0 auto;
}
.index_Campus .header {
  background-color: maroon;
  color: #ffffff;
  padding: 10px;
}
.index_Campus .header .logo {
  float: left;
}
.index_Campus .header .nav {
  float: right;
}
.index_Campus .main {
  display: flex;
}
.index_Campus .sidebar {
  width: 25%;
  padding: 10px;
}
.index_Campus .sidebar .list {
  list-style: none;
  padding: 0;
}
.index_Campus .sidebar .list-item {
  margin-bottom: 10px;
}
.index_Campus .content {
  width: 75%;
  padding: 10px;
}
.index_Campus .footer {
  background-color: #444444;
  color: #ffffff;
  padding: 10px;
  text-align: center;
}
.index_Campus .button {
  border: 1px solid #cd8213;
  background-color: rgba(93, 79, 2, 0.23);
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 4px;
  text-decoration: none;
}
.index_Campus .button:hover {
  background-color: #90b40d;
}
.index_Campus .button-secondary {
  border: 1px solid #e9ecef;
  background-color: #039b36;
  color: #444444;
  padding: 5px 10px;
  border-radius: 4px;
  text-decoration: none;
}
.index_Campus .button-secondary:hover {
  background-color: #05488c;
}
.index_Campus .form-field {
  border: 1px solid #f32a02;
  padding: 5px;
  border-radius: 4px;
}
.index_Campus .form-submit {
  border: 1px solid #072393;
  background-color: #007bff;
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 4px;
  text-decoration: none;
}
.index_Campus .form-submit:hover {
  background-color: #0069d9;
}

.new_Sortie {
  font-family: "Calibri", serif;
}
.new_Sortie .formulaire {
  columns: 2;
  display: block;
}
.new_Sortie label {
  font-size: larger;
  margin-left: 20px;
  width: 100%;
}
.new_Sortie input, .new_Sortie textarea, .new_Sortie select {
  display: block;
  font-size: 1.2rem;
  padding: 0.25em;
  width: 40%;
  margin-bottom: 1em;
  margin-left: 20px;
  border-radius: 3px;
  border: 1px solid #BABABA;
}
.new_Sortie .btn {
  background-color: #BABABA;
  color: #551A8B;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  font-size: larger;
  margin: 0 10px;
}
.new_Sortie .boutons {
  padding-top: 5%;
  display: flex;
  justify-content: center;
}
.new_Sortie h1, .new_Sortie h2 {
  color: #551A8B;
  width: 100%;
  text-align: center;
}
.new_Sortie h3 {
  margin-left: 20px;
}

/*# sourceMappingURL=style.css.map */
