{% extends 'base.html.twig' %}

{% block title %}New Sortie{% endblock %}
{% block body %}
    <div class="new_Sortie">

    <h1>Créer une nouvelle sortie</h1>

    <h2>Salut {{ app.user.pseudo }} !</h2>

        <h3>Campus de ---</h3>

        {{ form_start(form) }}
        {{ form_widget(form) }}

        <button class="btn" name=submit value="enregistrer">Enregistrer</button>
        <button class="btn" name=submit value="publier">Publier</button>
        <button class="btn" name=submit value="annuler">Annuler</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
