{% extends 'base.html.twig' %}

{% block title %}Edit Ville{% endblock %}

{% block body %}

<div class="edit_Ville">

    <h1>Modifier la ville</h1>

    {{ form_start(villeForm) }}
    {{ form_widget(villeForm) }}
    <td><button class="btn" type="submit" name="submit">Enregistrer</button></td>
    {{ form_end(villeForm) }}

    <a href="{{ path('app_ville_index') }}">Retour à la liste des villes</a>


</div>

{% endblock %}
