{% extends 'base.html.twig' %}

{% block title %}Ville{% endblock %}

{% block body %}
    <div class="show_Ville">
    <h1>Détails de la ville</h1>

    <table class="ville">
        <tbody>
            <thead>
            <tr>
                <th>Nom</th>
                <th>CodePostal</th>
            </tr>
            </thead>
            <tr>
                <td>{{ ville.nom }}</td>
                <td>{{ ville.codePostal }}</td>
            </tr>
        </tbody>
    </table>

        {{ include('ville/_delete_form.html.twig') }}

    <a href="{{ path('app_ville_index') }}">Retour à la liste des villes</a>




    </div>

{% endblock %}
